<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wevois.fenavigation">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/ic_green_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_green_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FENavigation">
        <activity
            android:name=".views.Maps"
            android:exported="false"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|uiMode"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_home_maps"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:taskAffinity=".PlayerActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".views.DutyIn"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.LoginScreen"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>